#quote {
    display: flex;
    flex-wrap: wrap;
    gap:1px;
}

#quote > div {
    display: flex;
}

.word {
    padding-inline: 20px;
}

.character {
    display: flex;
    flex-direction: column;
    width: 20px;
    margin-inline: 5px;
}

input {
    border: none;
    outline: none;
    border-bottom: 2px solid black
}

.non-alphabetic {
    border: none;
}

span {
    text-align: center;
}